NEXT_PUBLIC_LARAVEL_API_URL=http://localhost:8000
LARAVEL_API_URL=http://backend:8000
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_URL=http://localhost:3000

NEXT_PUBLIC_PUSHER_KEY=
NEXT_PUBLIC_PUSHER_CLUSTER=ap1

USER_LOGIN_CLOUDFLARE_SITE_KEY=
USER_SIGNUP_CLOUDFLARE_SITE_KEY=
USER_FORGOT_PASSWORD_CLOUDFLARE_SITE_KEY=
ADMIN_LOGIN_CLOUDFLARE_SITE_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
