NEXT_PUBLIC_LARAVEL_API_URL=http://127.0.0.1:8000
LARAVEL_API_URL=http://backend:8000
NEXT_PUBLIC_WEBSTORE_BANK_NAME=
NEXT_PUBLIC_WEBSTORE_BANK_ACCOUNT_NAME=
NEXT_PUBLIC_WEBSTORE_BANK_ACCOUNT_NUMBER=
NEXT_PUBLIC_WEBSTORE_BANK_INSTRUCTIONS=
CLOUDINARY_CLOUD_NAME=dc05ncs6l
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET
NEXT_PUBLIC_PUSHER_KEY=YOUR_PUSHER_KEY
NEXT_PUBLIC_PUSHER_CLUSTER=ap3
NEXT_PUBLIC_APP_URL=https://afhome.ph
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=YOUR_NEXTAUTH_SECRET
FRONTEND_PROXY_LOOKUP_CACHE_MS=15000
ZQ_API_BASE_URL=https://system.zqdropshipping.com/api/v2/openapi
ZQ_API_KEY=YOUR_ZQ_API_KEY
ZQ_TIMEOUT=30
NEXT_PUBLIC_ROOT_DOMAIN=afhome.ph
USER_LOGIN_CLOUDFLARE_SITE_KEY=0x4AAAAAADD9Jr6plPkVUSGU
USER_SIGNUP_CLOUDFLARE_SITE_KEY=0x4AAAAAADD9u18DzrIZerOR
ADMIN_LOGIN_CLOUDFLARE_SITE_KEY=0x4AAAAAADD_Bm3iz8Q2PgG7
USER_FORGOT_PASSWORD_CLOUDFLARE_SITE_KEY=0x4AAAAAADEi14UzR8Efxxwd

NEXT_PUBLIC_GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
WEBAUTHN_ALLOWED_ORIGINS="https://afhome.ph,https://www.afhome.ph"
WEBAUTHN_RP_ID="afhome.ph"
WEBAUTHN_RP_NAME="AF Home"
STORE_REVALIDATE_SECRET=YOUR_STORE_REVALIDATE_SECRET

GOOGLE_DRIVE_FOLDER_ID="1IRFNKf_wHNEG3SwVar7YjxjwYoR9FEtN"
GOOGLE_DRIVE_FOLDER_URL="https://drive.google.com/drive/folders/1IRFNKf_wHNEG3SwVar7YjxjwYoR9FEtN?usp=sharing"
GOOGLE_DRIVE_SERVICE_ACCOUNT_EMAIL=YOUR_SERVICE_ACCOUNT_EMAIL
GOOGLE_DRIVE_SERVICE_ACCOUNT_PRIVATE_KEY="YOUR_SERVICE_ACCOUNT_PRIVATE_KEY"
GOOGLE_DRIVE_DESKTOP_BACKUP_PATH="G:/My Drive/db_backup"

GOOGLE_DRIVE_OAUTH_CLIENT_ID=YOUR_GOOGLE_DRIVE_OAUTH_CLIENT_ID
GOOGLE_DRIVE_OAUTH_CLIENT_SECRET=YOUR_GOOGLE_DRIVE_OAUTH_CLIENT_SECRET
GOOGLE_DRIVE_OAUTH_REFRESH_TOKEN=YOUR_GOOGLE_DRIVE_OAUTH_REFRESH_TOKEN
GOOGLE_DRIVE_FOLDER_ID="1IRFNKf_wHNEG3SwVar7YjxjwYoR9FEtN"

NEXT_DISABLE_TURBOPACK=1
NEXT_PUBLIC_FACEBOOK_APP_ID=875297018586273
