DATABASE_URL="postgresql://user:password@localhost:5432/afhome_db?schema=community"
PORT=4000
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=local_redis_password
CORS_ORIGINS=http://localhost:3000
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_COMMUNITY_POSTS_FOLDER=afhome/community/posts
