.git
.gitignore
.env.local
.DS_Store
node_modules
npm-debug.log
.vscode
.idea
*.log
.docker
docker-compose.yml
.env.example
README.md
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
vendor
.pytest_cache
__pycache__
